.side-menu {
    background: var(--grey);
}

.side-menu-content {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    padding: var(--lg-75) 0;
}

.side-menu-content-box {
        flex: 1 1 22%;
        @media screen and (width < 980px) {
            flex: 1 1 44%;
        }
        @media screen and (width < 525px) {
            flex: 1 1 100%;
        }

		&__title {
            margin-bottom: var(--md-30);
		}

		// &__list {
		// }

		&__list-item {
            &:not(:last-child) {
                margin-bottom: var(--sm-15);
            }
		}
}

